.transparent-container {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
}

.white-text {
  color: white;
}

.brand-green-text {
  color: #198754 !important;
}

#formMessage {
  transition: all 0.3s ease;
  font-size: 1.1rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1.5rem;
}

.link {
  color: rgb(0, 197, 26);
  text-decoration: underline;
}
