.hero-graphic {
    background-image: url("../res/lazy-images/blogHeroGraphicLazy.webp");
    background-size: cover;
    transition: all ease-in-out 2s;
}

.transparent-container {
    background-color: rgb(255, 255, 255, 0.75)
}

.container-900px {
    max-width: 900px;
}

.pricing-container {
    background-color: rgb(240, 240, 240)
}

.faqs-container {
    background-color: rgb(222, 253, 224);
}

.question {
    font-size: 1.5rem;
    text-decoration: none;
    color: #151815;
    
    
}

.question-shadow {
    border-bottom: rgba(0, 139, 19) solid 2px;
    transition: all 0.2s;
}

.question-shadow:hover {
    background-color: rgba(0, 139, 19, 0.3);
}

.link {
    color: rgb(0, 197, 26);
    text-decoration: underline;
}

.link:hover {
    color: rgb(0, 91, 12);
    text-decoration: underline;
}