.container-900px {
    max-width: 900px;
}

body {
    background: linear-gradient(63deg, rgb(156, 243, 168), rgb(118, 214, 118));
    color: Black;
}

.resource-item {
    display: block;
    margin: 20px;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}